<!doctype html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Page Title</title>
  <%= javascript_include_tag "acceptance" %>
  
  <script type="text/javascript">
    Acceptance.onValidation(function(field) {
      var input = field.getInput(),
          container = input.parentNode,
          errorElem = container.getElementsByTagName('span')[0];
      
      if (!errorElem) {
        errorElem = document.createElement('span');
        container.appendChild(errorElem);
      }
      
      if (field.isValid())
        errorElem.innerHTML = field.getDisplayName() + ' is valid';
      else if (field.isIndeterminate())
        errorElem.parentNode.removeChild(errorElem);
      else
        errorElem.innerHTML = field.getErrorMessages()[0];
    });
  </script>
  
</head>
<body>
  
  <%= yield %>
  
  <%= yield :acceptance_scripts %>
  
</body>
</html>

